.border{
    border: 1px solid #efefef;
    padding: 10px 0px;
    box-shadow: 0px 0px 4px rgba(110,1110,110,0.4);
    border-radius: 4px;
    height: auto !important;
    min-height: 270px;
}

.red-color{
    color: #ff0000;
}

.well{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.margin-control-h{ 
    margin-bottom: 10px; 
}
.margin-smal-10{
    margin-left:10px;
}

 .accordionize a{
    text-transform: capitalize !important;
}

.widget li {
     margin-bottom: 0px; 
     padding-bottom: 0px;
     }
.widget li a:hover{
    border-bottom: 1px solid#f90; 

}


.custom-url span{
    margin-right: 15px !important;
    color: #080808;
}
.custom-url a:hover{
    color:#ff0000;
}

.music-position{
    position: fixed;
    bottom: 20px;
    right: 170px;
    background: #000;
    height: 40px;
    z-index: 99999;
    opacity: 0.8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.music-position audio{
    margin: 4px 42px;
    opacity: 0.5;
    border-radius: 4px;
}

.devotion-caption{
    min-height: 100px !important;
    background: #efefef;
    color: #000;
    box-shadow: 0px 0px 4px rgba(110,1110,110,0.4);

}
.img-format{
    float: left;
    padding-right: 5px;
    /*border: 1px solid #efefef;*/
}

.no-margin{
    margin:0px;
}
.list{
    margin-left: 0px;
}
.list li {
    display: block;
    text-decoration: none;
    height: 30px;
    border: 1px solid #eee;
    padding: 4px;
    margin-bottom: 8px;
    background: #efefef
}

.list li a{
    color: #080808;

}